<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>frix gui</title>
    <link href="https://fonts.googleapis.com/css?family=Abel|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div block="container">
      <div elem="tab">
        <div elem="head">
          <h1 elem="heading">Page</h1>
          <h1 elem="button" class="link">+</h1>
          <img src="/monitor.svg" elem="button" mods="device selected" class="link" data-type="monitor"/>
          <img src="/laptop.svg" elem="button" mods="device" class="link" data-type="laptop"/>
          <img src="/tablet.svg" elem="button" mods="device" class="link" data-type="tablet"/>
          <img src="/phone.svg" elem="button" mods="device" class="link" data-type="phone"/>
        </div>
        <ul block="page-list">
          {{#each pages}}
            <li elem="item">
              <p elem="side">{{name}}</p>
              <div elem="screen" mods="monitor">
                <iframe scrolling="no" srcdoc="{{this.html}}"></iframe>
              </div>
              <p elem="side" mods="right">{{@key}}</p>
              <h1 elem="edit" class="link">edit</h1>
            </li>
          {{/each}}
        </ul>
      </div>
      <div elem="tab">
        <div elem="head">
          <h1 elem="heading">Content</h1>
          <h1 elem="button" class="link">+</h1>
        </div>
        {{#tree content}}
        {{@key}}
        {{/tree}}
      </div>
      <div elem="tab">
        <div elem="head">
          <h1 elem="heading">Site</h1>
          <h1 elem="button" class="link">+</h1>
        </div>
      </div>
    </div>
    <script>
      let buttons = document.querySelectorAll('.container__button--device');
      buttons.forEach((element) => {
          element.addEventListener('click', (event) => {
            buttons.forEach((element) => {
              element.classList.remove('container__button--selected');
            });
            document
              .querySelectorAll('.page-list__screen')
              .forEach((element) => {
                element.className = 'page-list__screen';
                element.classList.add('page-list__screen--'+event.target.getAttribute('data-type'));
              });
            event.target.classList.add('container__button--selected');
          });
      });

      let treeGroups = document.querySelectorAll('.tree li:not(.link)');
      treeGroups.forEach((element) => {
        element.addEventListener('click', (event) => {
          console.log(event.target);
          if(event.target.classList.contains('selected')) {
            event.target.classList.remove('selected');
          } else {
            event.target.classList.add('selected');
          }
        });
        event.stopPropagation();
      });
    </script>
  </body>
</html>
