<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>frix gui</title>
    <link href="https://fonts.googleapis.com/css?family=Abel|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div block="container">
      <div elem="tab">
        <div elem="head">
          <h1>Page</h1>
          <h1>+</h1>
        </div>
        <ul block="page-list">
          {{#each page}}
            <li elem="item">
              <p elem="side">default</p>
              <img src="http://placehold.it/100x200">
              <p elem="side" mods="right">/home</p>
              <h1 elem="edit">edit</h1>
            </li>
          {{/each}}
        </ul>
      </div>
      <div elem="tab">
        <div elem="head">
          <h1>Content</h1>
          <h1>+</h1>
        </div>
      </div>
      <div elem="tab">
        <div elem="head">
          <h1>Site</h1>
          <h1>+</h1>
        </div>
      </div>
    </div>
  </body>
</html>
