atom {
  border-radius: 99rem;
  padding: .5em 1em;
  box-shadow: 0 .3rem 0 0 rgba(118, 118, 123, .3);
  cursor: pointer;
}

.contentline[dataColor="green"]  atom {
  background: #EBE5DE;
}

.contentline[dataColor="beige"]  atom {
  background: #e1e9d7;
}
