atom, a.button {
  border-radius: 99rem;
  padding: .5em 1em;
  box-shadow: 0 .3rem 0 0 rgba(118, 118, 123, .3);
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

.contentline:nth-child(even) atom, .contentline:nth-child(even) a.button {
  background: #ebf8fd;
}

.contentline:nth-child(odd) atom, .contentline:nth-child(odd) a.button {
  background: #f8fdeb;
}

a.button {
  display: inline-block;
  margin-top: .2em;
}

atom[dataselected="true"] {
  font-weight: 600;
}

.contentline:nth-child(even)  atom[dataselected="true"] {
  background: #88b714;
  color: white;
}

.contentline:nth-child(odd)  atom[dataselected="true"] {
  background: #4C7F98;
  color: white;
}
