<div text-dataribbon="ribbon" text-databucher="kein-frühbucher">
  <div>
    <h2 text-content="name"></h2>
    <p text-content="detail"></p>
  </div>
  <section>
    <span><a class="button strong" text-content="wochentag"></a><span text-content="zeit"></span></span>
    <br/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"> </script>
    <span text-content="termine"></span>
    <script>
      var scripts = document.getElementsByTagName('script');
      var currentScript = scripts[scripts.length - 1];
      var element = currentScript.previousElementSibling;
      var dates = element.innerHTML.split('|');
      element.innerHTML = dates.reduce((a,b) => {
        return `${a}<a class="button">${b}</a>`;
      }, '');
      element.querySelectorAll('a').forEach((a)=> {
        var name = a.parentElement.parentElement.parentElement.querySelector('h2');
        if(Date.compare(Date.parseExact(a.innerHTML + '.' + name.innerHTML.split('/')[1].trim(), "d.M.yyyy"), Date.today()) > 0) {
          a.style.backgroundColor = "#f8fdeb";
          a.style.margin = "none";
        }
      });
    </script>
    <br/>
    <span><a class="button strong" text-content="retreat-text"></a><span text-content="retreat"></span></span>
    <br/>
    <span class="kosten-wrap"><span text-content="kosten-normal-text"></span><a class="button kosten"><span text-content="kosten-normal"></span> <span class="small" text-content="mwst">inkl. MwSt</span></a>
    <br/>
    <span class="kosten-wrap second"><span text-content="kosten-früh-text"></span><a class="button kosten"><span text-content="kosten-früh"></span> <span class="small" text-content="mwst-früh">inkl. MwSt</span></a>
    <br/>
    <span class="bottom" text-content="sva"></span>
  </section>
</div>
