atom {
  font-weight: normal;
  cursor: pointer;
  font-size: 1.3em;
  margin: 1em;
  transition: all 0.4s;
  text-shadow:  .5px  .5px 0 rgba(158, 195, 70, 0),
                  .5px -.5px 0 rgba(158, 195, 70, 0),
                 -.5px  .5px 0 rgba(158, 195, 70, 0),
                 -.5px -.5px 0 rgba(158, 195, 70, 0);
}

atom:hover {
  /* font-weight: 600; */
  color: #9EC346;
  letter-spacing: .5px;
  text-shadow:  .5px  .5px 0 rgba(158, 195, 70, 1),
                  .5px -.5px 0 rgba(158, 195, 70, 1),
                 -.5px  .5px 0 rgba(158, 195, 70, 1),
                 -.5px -.5px 0 rgba(158, 195, 70, 1);
}
