atom {
  font-weight: normal;
  cursor: pointer;
  margin: 1em;
  transition: all 0.4s;
  text-shadow:  .01em  .01em 0 rgba(158, 195, 70, 0),
                  .01em -.01em 0 rgba(158, 195, 70, 0),
                 -.01em  .01em 0 rgba(158, 195, 70, 0),
                 -.01em -.01em 0 rgba(158, 195, 70, 0);
}

atom:hover {
  color: #9EC346;
  letter-spacing: .01em;
  text-shadow:  .01em  .01em 0 rgba(158, 195, 70, 1),
                  .01em -.01em 0 rgba(158, 195, 70, 1),
                 -.01em  .01em 0 rgba(158, 195, 70, 1),
                 -.01em -.01em 0 rgba(158, 195, 70, 1);
}
