atom {
  background: white;
  border-radius: 1.5em;
  padding: 0 1.5em;
  padding-left: 1em;
  position: relative;
  box-shadow: 0 .3rem 0 0 #C1C7BB;
  display: inline-block;
  margin: 1em;
}

atom h2 {
  color: #9EC346;
  display: inline-block;
  position: absolute;
  left: 1em;
}

atom p {
  margin: 0 .4em;
  margin-top: 4em;
  padding-bottom: 1rem;
}

atom p:empty {
  visibility: hidden;
}

atom input {
  display: none;
  font-size: 1.2rem;
  border-radius: 99em;
  width: 10em;
  padding: .2em;
  padding-left: .4em;
  padding-top: .3em;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: #ebf8fd;
  box-shadow: 0 .15rem 0 0 #C1C7BB;
  color: #C1C7BB;
  position: absolute;
  right: 1em;
  top: 1em;
}

atom input::placeholder {
  font-size: .9em;
  color: #ddd;
  font-style: italic;
}

atom input.button {
  background: #9EC346;
  color: white;
  width: 3em;
  text-align: center;
  padding-left: .1em;
  position: absolute;
  right: 1em;
  left: auto;
}

@media(max-width: 700px) {
  atom input {
    top: -1em;
  }
}
