atom {
  border-radius: 300%;
  box-shadow: 0 .3rem 0 0 rgba(118, 118, 123, .3);
  background: white;
  overflow: hidden;
  position: relative;
}

atom > * {
  text-align: center;
  height: 10%;
}

atom > img {
  transform: translateY(-100%);
  margin-top: 7rem;
  width: 100%;
  height: auto;
  position: absolute;
  box-shadow: 0 .3rem 0 0 rgba(118, 118, 123, .3);
  opacity: .8;
}

atom > h2 {
  font-size: 1.6em;
  font-family: "cnl";
  font-weight: 300;
  color: #4C7F98;
  position: relative;
  vertical-align: middle;
  top: 5em;
  text-align: center;
  transform: translateY(-50%);
}
