
:root {
  /* namethatcolor */
  --viking: #65c9d4;
  --primrose: #ece09a;
  /* brand */
  --primary: var(--viking);
  --secondary: var(--primrose);
  --primary-gradient: linear-gradient(to top, var(--primary), rgba(0, 0, 0, 0));
  --secondary-gradient: linear-gradient(to top, var(--secondary), var(--primary));
  --border: .1rem;
}

*, *:before, *:after {
  box-sizing: inherit;
  transition: all .3s;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  margin: 0;
  background: #eee;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  min-height: 100%;
}

.container__tab {
  flex-grow: 1;
  border-width: var(--border);
  border-style: solid;
  border-image: var(--secondary-gradient) 1 20%;
  margin: calc(var(--border) * 4);
  background: rgba(255,255,255,0.8);
}

.container__head {
  border: var(--border) solid var(--primary);
  border-left: none;
  border-right: none;
  width: 100%;
  margin-top: -var(--border);
  display: block;
  position: relative;
}

.container__head h1 {
  padding: var(--border);
  font-family: 'Abel', sans-serif;
  font-size: 2rem;
  color: var(--primary);
  margin: 0;
  padding-right: calc(2.97rem + .5rem);
  padding-left: .5rem;
}

.container__head h1:last-of-type {
  position: absolute;
  color: var(--secondary);
  top: 0;
  right: 0;
  text-align: center;
  width: 2.97rem;
  height: 2.97rem;
  margin-top: -var(--border);
  margin-right: -var(--border);
  border: var(--border) solid;
  border-image: var(--primary-gradient) 1 100%;
  display: block;
  background-image: var(--primary-gradient);
  padding-left: initial;
  padding-right: initial;
  opacity: 0.8;
}

.container__head h1:last-of-type:hover {
  opacity: 1;
  color: white;
  cursor: pointer;
}

.container__tab li {
  list-style: none;
}

.page-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.page-list__item {
  flex-grow: 1;
  background-image: var(--primary-gradient);
  margin: 1rem;
  max-width: 40%;
  position: relative;
  padding: 1.5rem;
  border: var(--border) solid;
  border-top: none;
  border-image: var(--primary-gradient) 1 20%;
}

.page-list__item img {
  max-width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  border: var(--border) solid;
  border-image: var(--secondary-gradient) 1 20%;
}

.page-list__side {
  position: absolute;
  top: 50%;
  transform: rotate(90deg) translateX(-50%);
  z-index: 10;
  left: 0;
  margin-left: -.75rem;
  color: white;
}

.page-list__side--right {
  right: 0;
  left: auto;
  margin-right: -.75rem;
}

.page-list__edit {
  position: absolute;
  font-size: 1.5rem;
  left: 50%;
  bottom: 0;
  color: var(--secondary);
  transform: translateX(-50%) translateY(50%);
  cursor: pointer;
}

.page-list__edit:hover {
  color: white;
}
