organism {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0 10vw;
  position: relative;
  z-index: 1;
}

organism[datanopadding="true"] {
  padding: 0;
}

organism:nth-child(even) {
  background-color: #e1e9d7;
}

organism:nth-child(odd) {
  background-color: #EBE5DE;
}

organism > *:nth-child(odd) .heading {
  color: #4C7F98;
}

organism > *:nth-child(odd) h2 {
  color: #9EC346;
}

organism > *:nth-child(odd) strong {
  color: #9EC346;
}

organism > *:nth-child(even) .heading {
  color: #9EC346;
}

organism > *:nth-child(even) h2 {
  color: #4C7F98;
}

organism > *:nth-child(even) strong {
  color: #4C7F98;
}
