organism {
  background: #88b714;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%
  max-width: 100%;
  padding: 0 10vw;
}

organism .socialtitle .heading {
  color: white;
  font-size: 2em;
}

organism .twolines:last-of-type {
  text-align: right;
}

organism .twolines {
  margin-bottom: .4rem;
}
