organism {
  background: #88b714;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-flow: row wrap;
  max-width: 100%;
  padding: 0 10vw;
  box-sizing: border-box;
}

organism .twolines p {
  word-wrap: break-word;
}

organism .socialtitle .heading {
  color: white;
  font-size: 2em;
}

organism .twolines:last-of-type {
  text-align: right;
}

organism .twolines {
  margin-bottom: .4rem;
}

@media(max-width: 1024px) {
  organism, organism .twolines:last-of-type {
    text-align: center;
  }

  organism {
    display: block;
    margin-top: -.5em;
  }
}


@media(max-width: 370px) {
  organism {
    padding: 0;
  }
}
