<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title text-content="title"></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/bin/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta  content="IE=edge"/>
    <script>
      let meta = document.currentScript.previousSibling;
      meta.setAttribute('http-equiv', 'X-UA-Compatible');
    </script>
  </head>
  <body>
    <organism type="header"/>
    <loop name="lines" types="contentline">
      <target/>
    </loop>
    <organism type="foot"/>
    <script type="text/javascript">
      (function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/7/b/7bd6195f50e93705a8ff751219a2983a/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));
    </script>
  </body>
</html>
