@font-face {
    font-family: cnl;
    src: url(resources/cnl.ttf);
}

body {
    font-family: "Open Sans";
    color: #A4A4A4;
    margin: 0;
}

.header > *, .contentline {
  box-shadow: inset 0 .15rem 0 0 #e2dfdd;
}

.header > *:first-child {
  box-shadow: none;
}
