<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title text-content="title"></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/bin/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="iJhpFDUf6nVGUz7wSNK9cQwNNB_GvnujD1ksYxgX0T4" />
  </head>
  <body>
    <organism type="header"/>
    <a id="menu" class='button menu' href='#top'>Menü</a>
    <div class="contentline">
      <div class="title">
        <h1 class="heading">Zum Newsletter anmelden</h1>
      </div>
      <div class="simplesimplecallout">
        <div class="simplecallout">
          <script id="n2g_script">
          !function(e,t,n,c,r,a,i){e.Newsletter2GoTrackingObject=r,e[r]=e[r]||function(){(e[r].q=e[r].q||[]).push(arguments)},e[r].l=1*new Date,a=t.createElement(n),i=t.getElementsByTagName(n)[0],a.async=1,a.src=c,i.parentNode.insertBefore(a,i)}(window,document,"script","//static.newsletter2go.com/utils.js","n2g");
          n2g('create', 'kj3dt0wn-g2aaynoz-aiu');
          n2g('subscribe:createForm');
          </script>
        </div>
      </div>
    </div>
    <loop name="lines" types="contentline">
      <target/>
    </loop>
    <organism type="foot"/>
    <script type="text/javascript">
      (function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/7/b/7bd6195f50e93705a8ff751219a2983a/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47272991-2', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
