molecule {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}

molecule .borderimage {
  max-width: 30%;
  margin-right: 3%;
}

molecule .simplecallout {
  max-width: 60%;
}

molecule .simplecallout p {
  font-size: .9em;
}
