.textblock + molecule {
  max-width: 40%;
  justify-content: flex-start;
}

molecule {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1.3em;
}

molecule .button {
  margin: .4em;
  font-size: .8em;
}
