molecule {
  display: flex;
  align-items: center;
  padding-bottom: 3em;
  padding-top: 1.5em;
  min-width: 32rem;
  flex: 1 1 32rem;
}

molecule  ~ .calltoaction {
  width: 100%;
  flex: auto;
}

molecule .heading {
  font-size: 1.4em;
  font-family: "Open Sans";
  font-weight: 600;
}

molecule > * {
  margin-left: 3em;
}

molecule > img {
  max-height:10em;
  opacity: .8;
}

@media (max-width: 530px) {
  .calltoaction img {
    display: none;
  }
  .calltoaction {
    min-width: inherit;
  }
}
