molecule {
  display: flex;
  align-items: flex-end;
  padding-bottom: 3em;
  height: 12em;
  min-width: 32rem;
  flex: 1 1 32rem;
}

molecule .heading {
  font-size: 1.4em;
  font-family: "Open Sans";
  font-weight: 600;
}

molecule > * {
  margin-left: 3em;
}

molecule > img {
  max-height:80%;
  margin-bottom: -.8em;
}
