molecule {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 3em;
  max-width: 100%;
  background-color: #EBE5DE;
}

@media (max-width: 975px) {
  .quote {
    display: none;
  }

  molecule > img {
    max-width: 100%;
  }
}

molecule > img {
  width: 21rem;
}
