molecule {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 3em;
  height: 12em;
  width: 100%;
  background-color: #EBE5DE;
}

molecule > img {
  width: 21rem;
}
