molecule {
  transform: scale(.8);
  border-radius: 1.5em;
  box-shadow: 0 .3rem 0 0 rgba(118, 118, 123, .3);
  overflow: hidden;
  max-height: 260px;
  min-width: 240px;
  background-color: #f8f8f8;
  flex: 1 1 28em;
}

molecule > div {
  width: 100%;
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
}

molecule iframe {
  width: 767px;
  height: 242px;
}
