molecule > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

molecule .heading {
  margin: .4em;
}

molecule .circle {
  height: 14em;
  width: 14em;
  margin: .5em;
  margin-bottom: 2em;
}
