molecule > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}

molecule .heading {
  margin: .4em;
}

molecule .circle, molecule .linkcircle, molecule .simplecircle {
  width: 14em;
  height: 14em;
  margin: .5em;
  margin-bottom: 2em;
}
