.textblock ~ molecule, .calltoaction ~ molecule {
  max-width: 40% !important;
  padding-left: 10%;
}

molecule {
  margin: 0 2em;
  max-width: 100%;
}

molecule .heading {
  margin-bottom: .4em;
  text-align: center;
}

molecule:not([dataalign]) .callouts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

molecule[dataalign="right"], molecule[dataalign="right"] .heading {
  text-align: right;
  width: 100%;
}

molecule[dataalign="left"], molecule[dataalign="left"] .heading {
  text-align: left;
  width: 100%;
}

molecule[dataalign="center"] {
  text-align: center;
}

molecule[dataalign="center"] br {
  display: none;
}

molecule[dataalign="right"] .callout::before, molecule[dataalign="right"] .callout::after {
  border-right: 1.2em solid transparent;
}


molecule[dataalign="left"] .callout::before, molecule[dataalign="left"] .callout::after {
  border-left: 1.2em solid transparent;
  transform: translateX(-95%);
  left: 0%;
}

@media(max-width: 700px) {
  molecule > .callouts > .callout, molecule > .callouts > .simplecallout, molecule > .callouts > .simplesimplecallout, molecule > .callouts > .borderimage {
    max-width: 90%;
    display: block;
  }

  molecule .callouts .callout .button {
    max-width: 80%;
    overflow: hidden;
  }

  molecule .callouts > *:not(.eventcallout)::before, molecule .callouts > *:not(.eventcallout)::after {
    display: none;
  }

  molecule .callouts > *:not(.eventcallout) > div {
    display: inherit;
    width: 100%;
  }

  molecule .callouts > *:not(.eventcallout) > div > h2 {
    margin-left: 0;
  }

  molecule .callouts * {
    word-wrap: break-word;
  }
}
