.textblock ~  molecule, .calltoaction ~  molecule {
  max-width: 40%;
  padding-left: 10%;
}

molecule {
  margin: 0 2em;
}

molecule .heading {
  margin-bottom: .4em;
  text-align: center;
}

molecule:not([dataalign]) .callouts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

molecule[dataalign="right"] {
  text-align: right;
}

molecule[dataalign="left"] {
  text-align: left;
}

molecule[dataalign="center"] {
  text-align: center;
}

molecule[dataalign="center"] br {
  display: none;
}

molecule[dataalign="right"] .callout::before, molecule[dataalign="right"] .callout::after {
  border-right: 1.2em solid transparent;
}


molecule[dataalign="left"] .callout::before, molecule[dataalign="left"] .callout::after {
  border-left: 1.2em solid transparent;
  transform: translateX(-95%);
  left: 0%;
}
